
@{
    ViewData["Title"] = "Branches";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" stype="style/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
<link rel="stylesheet" href="~/css/styles.css" />

<div id="assets">
    <h3>
        List branches
    </h3>
    <br />
    <a class="btn btn-lg btn-success" href="/Admin/Branches/AddBranch">New branch</a>
    <br />
    <br />
    <br />
    <div id="assetsTable">
        <table class="table table-condensed" id=" catalogIndexTable">
            <thead>
                <tr>
                    <th>ImageURL</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Telephone</th>
                    <th>Description</th>
                    <th>Open date</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Branches)
                {
                <tr class="assetRow">
                    <td class="">

                        <a href="/Admin/Branches/EditBranch/@item.Id">
                            <img src="@item.ImageURL" class="imageCell" />
                        </a>

                    </td>
                    <td class="">
                        @item.Name
                    </td>
                    <td class="">
                        @item.Address
                    </td>
                    <td class="">
                        @item.Telephone
                    </td>
                    <td class="">
                        @item.Description
                    </td>
                    <td class="">
                        @item.OpenDate
                    </td>
@*                    <td class="" >
                        <a class="btn btn-lg btn-danger" align-item="center"
                           href="/Admin/Branches/Delete/@item.Id">Delete</a>
                    </td>*@
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
