@using Library.Models.CheckoutModels
@model Library.Models.CheckoutModels.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}

    <div class="container">

            <h2>Check item out</h2>

        <div class="jumbotron">

            <div class="row">
                <div class="col-md-8">
                    <div>
                        <p style="color: red" class="animated fadeIn">@ViewBag.error</p>
                        <p id="itemTitle">@Model.Title</p>
                        <img class="detailImage" src="@Model.ImageUrl" />
                    </div>
                    <br />
                </div>

                @*you could also use tag helpers.*@
            </div>
            <div class="row">
                <div class="col-md-9">
                    @*this is an html helper - it creates an object that implements idisposable*@
                    @using (Html.BeginForm("PlaceCheckout", "Catalog", FormMethod.Post))
                    {
                        @Html.HiddenFor(a => a.AssetId)
                        <div>
                            <strong>Please insert a Library Card ID:</strong>
                            @Html.TextBoxFor(a => a.LibraryCardId)
                            @*write out a text box and set attributes according to info in the model*@
                        </div>
                        <br />
                        <div>
                            <button type="submit" class="btn btn-success btn-lg">Check out</button>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>


