@using Library.Models.CheckoutModels
@model Library.Models.CheckoutModels.CheckoutModel
@{
    ViewData["Title"] = "Hold";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
@*@model is the model directive*@
<h2>Hold</h2>
<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Place Hold on Library Item</h2>
    </div>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <div>
                    <p style="color: red" class="animated fadeIn">@ViewBag.error</p>
                    <p id="itemTitle">@Model.Title</p>
                    <img class="detailImage" src="@Model.ImageUrl" />
                </div>
            </div>
        </div>
        <div class="row">
            @*you could also use tag helpers.*@
            <div class="col-md-9">
                <p>There are currently @Model.HoldCount holds in the queue for this item.</p>

                
                @*this is an html helper - it creates an object that implements idisposable*@
                @using (Html.BeginForm("PlaceHold", "Catalog", FormMethod.Post))
                {
                    @Html.HiddenFor(a => a.AssetId)
                    <div>
                        <strong>Please insert a Library Card ID.</strong>

                        @Html.TextBoxFor(a => a.LibraryCardId)
                        @*write out a text box and set attributes according to info in the model*@
                    </div>
                    <br />
                    <div>
                        <button type="submit" class="btn btn-info btn-lg">Place Hold</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

