@{
    ViewBag.Title = "index";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

@model Library.Models.Home.HomeDetailModel
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="row">
    <div class="col-lg-9 main-chart">

        <div class="row mtbox">
            <div class="col-md-2 col-sm-2 col-md-offset-1 box0">
                <div class="box1">
                    <img src="https://img.icons8.com/dusk/64/000000/book.png" />
                    <h3>@Model.NumBook</h3>
                </div>
                <p>@Model.NumBook books in your library!</p>
            </div>
            <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                    <img src="https://img.icons8.com/dusk/64/000000/video-file.png" />
                    <h3>@Model.NumVideo</h3>
                </div>
                <p>@Model.NumVideo videos in your library!.</p>
            </div>
            <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                    <img src="https://img.icons8.com/dusk/64/000000/reading.png" />
                    <h3>@Model.NumPatron</h3>
                </div>
                <p>You have @Model.NumPatron patrons</p>
            </div>
            <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                    <img src="https://img.icons8.com/dusk/64/000000/soccer-yellow-card.png" />
                    <h3>@Model.TotalCheckout</h3>
                </div>
                <p>More than @Model.TotalCheckout checkouts</p>
            </div>
            <div class="col-md-2 col-sm-2 box0">
                <div class="box1">
                    <img src="https://img.icons8.com/dusk/64/000000/library.png" />
                    <h3>@Model.NumBranch</h3>
                </div>
                <p>@Model.NumBranch branches! </p>
            </div>

        </div><!-- /row mt -->


        <div class="row mt">
            <!-- SERVER STATUS PANELS -->
          

            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5>TOP BRANCH</h5>
                    </div>
                    <p><img src="https://img.icons8.com/dusk/64/000000/library.png" width="100"></p>
                    <br />
                    <p><b>@Model.TopBranchName</b></p>

                    <div class="row">
                        <div class="col-md-12">

                            <p></p>
                        </div>

                    </div>
                </div>
                </div><!-- /col-md-4 -->


            <div class="col-md-4 col-sm-4 mb">
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5>TOP ASSET</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-xs-6 goleft">
                            <p><i class="fa fa-heart"></i>@Model.TopAssetName</p>
                        </div>
                        <div class="col-sm-6 col-xs-6"></div>
                    </div>
                    <div class="centered">
                        <img src="@Model.TopAssetImg" style="max-width: 100px; max-height: 140px">
                    </div>
                </div>
            </div><!-- /col-md-4 -->

            <div class="col-md-4 mb">
                <!-- WHITE PANEL - TOP USER -->
                <div class="white-panel pn">
                    <div class="white-header">
                        <h5>TOP PATRON</h5>
                    </div>
                    <p><img src="https://img.icons8.com/dusk/64/000000/reading.png" class="img-circle" width="80"></p>
                    <p><b>@Model.PatronName</b></p>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="small mt">MEMBER SINCE</p>
                            <p>@Model.MemberSince</p>
                        </div>

                    </div>
                </div>
            </div><!-- /col-md-4 -->
        </div><!-- /row -->
        <div class="row mt">
            <!--CUSTOM CHART START -->
            <div class="border-head">
                <h3>CHECKOUTS</h3>
            </div>

            <div>
                <input type="number" name="year" id="year" value="2020" style="float:right; margin-bottom:10px;" />
            </div>
            <div style="float:none"><br /></div>

            <div class="custom-bar-chart report">

            </div>
            <!--custom chart end-->
        </div><!-- /row -->

    </div><!-- /col-lg-9 END SECTION MIDDLE -->
    <!-- **********************************************************************************************************************************************************
    RIGHT SIDEBAR CONTENT
    *********************************************************************************************************************************************************** -->

    
</div>
<script>
    $(document).ready(function () {
        LoadBarChart();
        $('#year').on('change', LoadBarChart);
    });
    function LoadBarChart() {
        var year = $('#year').val();
        var data = { year: year };
        $.ajax(
            {
                url: '@Url.Action("ReportEachYear", "Home")',
                type: "POST",
                data: data,
                cache: false,
                success: function (response) {
                    $(".report").empty();
                    var sum = 0;
                    if (response) {
                        console.log(response);
                        for (var k in response) {
                            sum += response[k];
                        }
                    };
                    $(".report").append(function () {
                        return '<ul class="y-axis">' +
                            '<li><span>100</span></li>' +
                            '<li><span>80</span></li>' +
                            '<li><span>60</span></li>' +
                            '<li><span>40</span></li>' +
                            '<li><span>20</span></li>' +
                            '<li><span>0</span></li>' +
                            ' </ul >'
                    });
                    for (var k in response) {
                        $(".report").append(function () {
                            var percent = Math.round((response[k] / sum * 100) * 100) / 100;
                            if (sum == 0) percent = 0;
                            return '<div class="bar">' +
                                '<div class="title">' + k.toUpperCase() + '</div>' +
                                '<div class="value tooltips" title="' + response[k] + '" style="height:' + percent + '%;" data-toggle="tooltip" data-placement="top"></div>' +
                                '</div>'
                        });
                    }
                },
                error: function (e) {
                    //alert('error');
                }
            });
    }
</script>
