@using Library.Models.Branch
@model Library.Models.Branch.BranchIndexModel
@{
    ViewBag.Title = "Branch Index";
    Layout = "~/Areas/Employee/Views/Shared/_Layout.cshtml";
}
<h3>Branches</h3>
<div id="branchIndex">
    <table class="table table-condensed" id=" catalogIndexTable">
        <thead>
            <tr>
                <th>Branch Name</th>
                <th>Open Now</th>
                <th>Number Of Assets</th>
                <th>Number of Patrons</th>          
            </tr>
        </thead>
        <tbody>
            @foreach (var branch in Model.Branches)
            {
            <tr>
                <td class="strongTd"><a asp-controller="Branch" asp-action="Detail" asp-route-id="@branch.Id">@branch.BranchName</a></td>
                <td>@branch.IsOpen</td>
                <td>@branch.NumberOfAssets</td>
                <td>@branch.NumberOfPatrons</td>
            
            </tr>
            }
        </tbody>
    </table>
</div>