
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" stype="style/css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Coda" rel="stylesheet">
<link rel="stylesheet" href="~/css/styles.css" />


<div id="assets">
    <h3>
        List books
    </h3>
    <br />
    <a class="btn btn-lg btn-success" href="/Admin/Assets/AddBook">Add a new book</a>
    <br />
    <br />
    <div id="assetsTable">
        <table class="table table-condensed" id=" catalogIndexTable">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Dewey Call Number</th>
                    <th>Number of Copies</th>
                    <th>Year</th>
                    <th>Cost</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var asset in Model.Books)
                {
                <tr class="assetRow">
                    <td class="">

                        <a href="/Admin/Assets/EditBook/@asset.Id">
                            <img src="@asset.ImageURL" class="imageCell" />
                        </a>

                    </td>
                    <td class="">
                        @asset.Title
                    </td>
                    <td class="">
                        @asset.AuthorOrDirector
                    </td>
                    <td class="">
                        @asset.DeweyCallNumber
                    </td>
                    <td class="">
                        @asset.NumberOfCopies
                    </td>
                    <td class="">
                        @asset.Year
                    </td>
                    <td class="">
                        @asset.Cost
                    </td>
                    <td class="">
                        <a class="btn btn-lg btn-danger" href="/Admin/Assets/Delete/@asset.Id">Delete</a>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
